---
title: Roxane Dulhoste - Projets
---

<div class="projects main">
  <div class="projet-container2">
    <div class="proj-list">
      <ul>
        <li class="proj-name" id="fimmi">fimmi</li>
        <li class="proj-name" id="emma">emma</li>
        <li class="proj-name" id="mihivai">mihivai</li>
        <li class="proj-name" id="diag-o">diag-o</li>
        <li class="proj-name" id="seb">seb</li>
      </ul>
    </div>

    <div class="proj-img display">
      <div class="notice">
        <p>Click to see more.</p>
      </div>
    </div>
  </div>
</div>
